/*
WDD130: Web Fundamentals
w03 Rafting Project: About Us Page
*/

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Inconsolata:wght@200..900&display=swap');

:root {
    --primary-color: #5B5148;
    --secondary-color: #67CBAB;
    --accent1-color: #DAE6E7;
    --accent2-color: #203283;
    --heading-font: alkatra, serif;
    --paragraph-font: inconsolata, serif;
    --nav-background-color: rgba(103 203 171 / 0.6);
    --nav-link-color: #5b5148;
    --nav-hover-link-color: #DAE6E7;
    --nav-hover-background-color: #203283;
}

header.grid-container {
    background-color: white;
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.grid-container img {
    display: block;
    width: 120px;
    grid-column: 2/5;
    grid-row: 1/4;
}

.grid-container nav {
    background-color: var(--nav-background-color);
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 6/11;
    grid-row: 2/3;
    align-items: center;
    justify-items: center;
}

.grid-container nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}
.action-consult:link,
.action-consult:link,
.grid-container nav a:link,
.grid-container nav a:visited {
    color: var(--nav-link-color);
}

.action-consult:hover,
.grid-container nav a:hover{
    color: white;
    background-color: var(--nav-hover-background-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    background-color: var(--accent2-color);
}

section.history {
    background-color: var(--secondary-color);
    height: fit-content;
    margin-top: 10px;
    border: solid 1px black;
}

.history h2 {
    /* border: solid 1px black; */
    text-align: center;
    padding: 0;
    margin: 0;
}

.history img {
    display: block;
    width: 200px;
    float: left;
    margin: 10px 20px 20px 20px;
}

.history p {
    /* border: solid 1px black; */
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
}

section.adventure {
    border: solid 1px black;
    background-color: var(--secondary-color);
    margin-top: 10px;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    justify-content: space-around;
}

.adventure h2 {
    /* border: solid 1px black; */
    grid-column: 1/6;
    text-align: center;
}

.adventure img {
    /* display: inline-block; */
    max-width: 100%;
    /* border: solid 1px black; */
    align-self: center;
    justify-self: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    /* color: var(--accent2-color); */
    color: black;
    padding: 25px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10px;
    right: 380px;
    /* text-shadow: 0 0 5px var(--accent1-color); */
    background-color: rgba(218 230 231 / 0.7);
}

article {
    position: absolute;
    width: 800px;
    top: 280px;
    right: 100px;
    background-color: rgba(103 203 171 / 0.6) /*var(--secondary-color)*/;
    text-shadow: 0 0 5px white;
    font-weight: bold;
}

.hero article img {
    float: right;
    width: 200px;
    
}

div{
    background-color: var(--secondary-color);
}

div.company{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 10px;
    gap: 0;
}

div.company h1{
    grid-column: 1/9;
}

div.company ul{
    grid-row: 2/6;
    grid-column: 1/4;
    margin: auto;
}

div.map{
    grid-row: 2/6;
    grid-column: 4/9;
    margin: auto;
}

div.map h2{
    margin: 0;
    text-align: center;
}

iframe{
    width: 300px;
    height:300px;
}

div.staff{
    display: grid;
    grid-template-areas: 
    "header header header"
    "image1 image2 image3";
    margin-top: 10px;
}

div.staff h1{
    grid-area: header;
}

figure.image1{
    grid-area: image1;
    width: 150px;
    padding: 0;
    margin: auto;
}

figure.image2{
    grid-area: image2;
    width: 150px;
    padding: 0;
    margin: auto;
}

figure.image3{
    grid-area: image3;
    width: 150px;
    padding: 0;
    margin: auto;
}

.package{
    background-color: var(--accent1-color);
    margin: 20px;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
}

.package img{
    display: block;
    width: auto;
    height: 200px;
    margin: auto;
}

.action-consult{
    display: block;
    background-color: var(--nav-background-color);
    border: solid 1px black;
    color: var(--nav-link-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 520px;
}

.highlight{
    padding-bottom: 20px;
}

.trips{
    display: grid;
    grid-template-areas: 
    "header table"
    "image table";
    margin-top: 10px;
    gap: 20px;
    justify-items: center;
}

.trips h1{
    grid-area: header;
    text-align: center;
}

.trips img{
    width: 200px;
    grid-area: image;
    padding: 10px;
}

.trips table{
    grid-area: table;
}

footer {
    background-color: white;
    border: solid 1px black;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

footer a {
    align-self: center;
    text-decoration: none;
}

/*Form style*/

form{
    width: 650px;
    margin: 0 auto;
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(102 248 218 / 0.6);
    display: grid;
}

fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    border: solid 1px black;
}

legend{
    font-weight: bold;
    font-style: italic;
    color: rgb(106, 12, 130);
}

label.right{
    text-align: left;
}

label{
    font-weight: 500;
    font-size: 0.9rem;
    text-align: right;
    padding-right: 10px;
}

input, select, textarea{
    padding: 1.6px;
    font-size: 1.05rem;
}

input[type="checkbox"]{
    height: 30px;
    width: 30px;
    vertical-align: bottom;
}

button{
    margin: auto;
    margin-top: 10px;
    width: 100px;
    font-size: 1.1rem;
    background-color: rgb(244, 222, 181);
}

button:hover{
    background-color: rgb(8, 160, 242);
    color: white;
}

.form-item{
    display: grid;
    align-items: center;
}

.column1{
    grid-template-columns: 3fr 1fr;
    /* margin: auto; */
}

.column2{
    grid-template-columns: 1fr 2fr;
}

/*Table style*/
table{
    border-collapse: collapse;
    border: 3px solid var(--primary-color);
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: var(--accent1-color);
    margin: 20px;
}

caption{
    caption-side: bottom;
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
    margin: 0;
}

thead{
  background-color: rgb(32 50 131 / 0.3);
}

th,
td {
  border: 1.5px solid var(--primary-color);
  padding: 8px 10px;
}

tbody > tr:nth-of-type(even){
    background-color: rgb(102 248 218 / 0.5);
}